<!--Section: Features v.3-->
<section class="pt-2">
  <!--Section heading-->
  <h2 class="h1 py-5 font-weight-bold text-center">Why is going on the <u>Online</u> great?</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead dark-text text-center">
      We have been able to reach more people and passing
       the word of mouth on various internet platforms 
       Having the ability to tell your story over the 
       internet is the in thing IT just makes sense.</p>

  <!--Grid row-->
  <div class="row pt-2">

      <!--Grid column-->
      <div class="col-lg-5 text-center text-lg-left">
          <img src="assets/img/phone.png"  alt="" class="img-fluid mx-auto img-border-b z-depth-0">
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-7">
        <!--Grid row-->
        <div class="row pb-3">
                <div class="col-2 col-md-1">
                    <i class="fa fa-at fa-lg indigo-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Get to Extend Your Reach</h5>
                    <p class="dark-text text-left">
                            Ongoing success rests on your capability to constantly bring in new clients.
                             Reaching thousands of people by using traditional marketing methods is very
                              expensive and unreliable. Going online means you can reach more people than
                               you ever imagined while paying less for the exposure – and you can even
                                track results
                    </p>
                </div>
            </div>
            <!--Grid row-->        
          <!--Grid row-->
          <div class="row pb-3">
              <div class="col-2 col-md-1">
                  <i class="fa fa-bullhorn fa-lg indigo-text"></i>
              </div>
              <div class="col-10">
                  <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Get More Referrals</h5>
                  <p class="grey-text text-left">The internet has a magic instrument called links,
                       that can be shared by anyone – with everyone. When people want to recommend
                        your business to a friend,sharing a link is so much easier than writing down
                         an address on paper.</p>
              </div>
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row pb-3">
              <div class="col-2 col-md-1">
                  <i class="fa fa-comments fa-lg indigo-text"></i>
              </div>
              <div class="col-10">
                  <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Get to Be Social</h5>
                  <p class="grey-text text-left">Once you start establishing an online presence,
                       you get to utilize one of the most powerful platforms for business 
                       promotion available today: social networks.</p>
              </div>
          </div>
          <!--Grid row-->
      </div>
      <!--Grid column-->

  </div>
  <!--Grid row-->

</section>