<app-nav-bar></app-nav-bar>
<main role="main" class="container">

    <section class="pt-5 py-4 text-center text-lg-left">


        <h2 class="h1 font-weight-bold text-center mb-5 pt-4">About
            <u>Us</u>
        </h2>

        <p class="text-center mb-5 pb-3">
            We pride ourselves in providing IT solutions that cater to our clients' needs and wants regardless of what type of business
            or personal digital footprint you want to leave over the internet
            <br/> Ndu-systems has a drive to impact the way that our communities percieve business over the internet. this can
            be your oppotunity to utilize our affordable and professionally driven services provided to you on a personal
            level.
        </p>


        <div class="row">

            <div class="col-lg-5 col-xl-5 pb-3">

                <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
                    <img src="assets/img/p4.jpg" alt="Sample image for first version of blog listing" class="img-fluid">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div>



            <div class="col-lg-7 col-xl-7">

                <a href="" class="green-text">
                    <h6 class="font-weight-bold pb-1">
                        <i class="fa fa-certificate"></i> origin est. 2016</h6>
                </a>
                <h3 class="mb-4 font-weight-bold dark-grey-text">
                    <strong>BEE YOUTH OWNED</strong>
                </h3>
                <p>
                    We are a black owned, youth owned technology company, but this is not our motivating slogan it is a fact. The rest is self-explanatory
                    we are a hand full of specially trained developers by profession with ambitions to utilize our skills
                    in order to help small to medium scaled business to be reachable at a broader geographical scale over
                    the internet.
                </p>
                <p>Est
                    <a>
                        <strong>South Africa</strong>
                    </a>, 2016</p>
                <a class="btn btn-success btn-md mb-3 waves-light" mdbWavesEffect>Read more</a>
            </div>

        </div>


        <hr class="mb-5 mt-5 pb-3">


        <div class="row">


            <div class="col-lg-7 col-xl-7 pb-3">

                <a href="" class="pink-text">
                    <h6 class="font-weight-bold pb-1">
                        <i class="fa fa-search"></i> Vision</h6>
                </a>
                <h3 class="mb-4 font-weight-bold dark-grey-text">
                    <strong>VISION & MISSION STATEMENT</strong>
                </h3>
                <p>Developing cheap and affordable platforms available on the Internet a digital footprint is important for
                    every individual and business who wants to compete in the latest trends and be easily accessible by everyone
                    from anywhere around the world.
                    <br/>Skills assets in the technology space to provide software services and better the lives of our customer
                    base.
                    <br/>We hardly discriminate whether it’s a personal website or an organizational website selling goods and
                    advertising.
                    <br/>At Ndu-systems we pride ourselves in offering excellent service in professional disciplines, in accordance
                    with statutory practices,codes of conduct and integrity, thereby providing a leading platform from which
                    to service our valued Clients.
                </p>
                <p>Est
                    <a>
                        <strong>South Africa</strong>
                    </a>, 2016</p>
                <a class="btn btn-pink btn-md mb-3 waves-light" mdbWavesEffect>Read more</a>
            </div>



            <div class="col-lg-5 col-xl-5 mb-5">

                <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
                    <img src="assets/img/p4.jpg" alt="Second image in the first version of blog listing" class="img-fluid">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div>


        </div>


        <hr class="mb-5 mt-4 pb-3">


        <div class="row pb-5">


            <div class="col-lg-5 col-xl-5 pb-3">

                <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
                    <img src="assets/img/p4.jpg" alt="Thrid image in the blog listing." class="img-fluid">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div>



            <div class="col-lg-7 col-xl-7">

                <a href="" class="indigo-text">
                    <h6 class="font-weight-bold pb-1">
                        <i class="fa fa-laptop"></i> Stack</h6>
                </a>
                <h3 class="mb-4 font-weight-bold dark-grey-text">
                    <strong>TECHNOLOGY STACK</strong>
                </h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="fa fa-cube"></span> ANGULAR</li>
                    <li class="list-group-item">
                        <span class="fa fa-cube"></span> HTML5 & CSS3</li>
                    <li class="list-group-item">
                        <span class="fa fa-cube"></span> MYSQL & PHP</li>
                    <li class="list-group-item">
                        <span class="fa fa-cube"></span> GITHUB</li>
                    <li class="list-group-item">
                        <span class="fa fa-cube"></span> TRELLO</li>
                </ul>
                <p>Est
                    <a>
                        <strong>South Africa</strong>
                    </a>, 2016</p>
                <a class="btn btn-indigo btn-md mb-3 waves-light" mdbWavesEffect>Read more</a>
            </div>


        </div>


    </section>
</main>
<app-footer></app-footer>