<mdb-navbar SideClass="navbar navbar-expand-lg fixed-top navbar-dark bg-dark scrolling-navbar ie-nav" [containerInside]="true">
  <logo>
      <a class="logo navbar-brand" routerLink="/">
      <img src="assets/img/logo.PNG" width="30" height="25" class="d-inline-block align-top" alt="">
      </a>
  </logo>
  <logo>     
      <a class="logo navbar-brand" routerLink="/"><strong>Ndu Systems</strong></a>              
  </logo>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
              <a class="nav-link">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"  routerLink="">About Us</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" routerLink="">Services & Pricing</a>
          </li>           
      </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" href="https://www.facebook.com/Ndusystemsnet/" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <!-- <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-instagram"></i></a>
          </li> -->
      </ul>
  </links>
</mdb-navbar>