<section class="pt-5">
  <!--Carousel Wrapper-->
  <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
    <!--First slide-->
    <mdb-slide>
      <div class="view">
        <picture>
            <source srcset="assets/img/crsl-2000x400-1.jpg" media="(min-width: 1400px)">
              <source srcset="assets/img/crsl-1400x400-1.jpg" media="(min-width: 768px)">
               <source srcset="assets/img/crsl-800x400-1.jpg" media="(min-width: 576px)">
              <img srcset="assets/img/crsl-600x400-1.jpg" alt="responsive image" class="d-block img-fluid">
         <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </picture>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Light mask</h3>
        <p>First text</p>
      </div>
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-slide>
      <div class="view">
          <picture>
              <source srcset="assets/img/crsl-2000x400-2.jpg" media="(min-width: 1400px)">
                <source srcset="assets/img/crsl-1400x400-2.jpg" media="(min-width: 768px)">
                 <source srcset="assets/img/crsl-800x400-2.jpg" media="(min-width: 576px)">
                <img srcset="assets/img/crsl-600x400-2.jpg" alt="responsive image" class="d-block img-fluid">
           <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </picture>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Strong mask</h3>
        <p>Secondary text</p>
      </div>
    </mdb-slide>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-slide>
      <div class="view">
          <picture>
              <source srcset="assets/img/crsl-2000x400-3.jpg" media="(min-width: 1400px)">
                <source srcset="assets/img/crsl-1400x400-3.jpg" media="(min-width: 768px)">
                 <source srcset="assets/img/crsl-800x400-3.jpg" media="(min-width: 576px)">
                <img srcset="assets/img/crsl-600x400-3.jpg" alt="responsive image" class="d-block img-fluid">
           <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </picture>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Slight mask</h3>
        <p>Third text</p>
      </div>
    </mdb-slide>
    <!--/Third slide-->
  </mdb-carousel>
  <!--/.Carousel Wrapper-->
</section>