<section class="pt-5">
     <h2 class="h1 pt-4 font-weight-bold text-center">Browse Our <u>Service</u> offerings</h2>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4 col-md-6 py-2">
                <div class="card card-cascade wider">
                    <div class="view view-cascade gradient-card-header peach-gradient">
                        <h2 class="card-header-title mb-2">Website Development</h2>
                        <p class="">
                            <i class="fa fa-globe fa-2x"></i> FROM: ZAR1500.00</p>
                    </div>
                    <div class="card-body card-body-cascade text-center">
                        <p class="card-text mr-2 ml-2">
                            Set your online footprint Get A Website Today! Email support Help center access
                        </p>
                        <a routerLink="/contact-us" class="orange-text mt-1 d-flex flex-row-reverse">
                            <h5 class="waves-effect p-2" mdbWavesEffect>Contact Us
                                <i class="fa fa-chevron-right"></i>
                            </h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 py-2">
                <div class="card card-cascade wider">
                    <div class="view view-cascade gradient-card-header peach-gradient">
                        <h2 class="card-header-title mb-2">Custom Data Apps</h2>
                        <p class="">
                            <i class="fa fa-dashboard fa-2x"></i> FROM: ZAR7500.00</p>
                    </div>
                    <div class="card-body card-body-cascade text-center">
                        <p class="card-text mr-2 ml-2">
                                Access Business Data Anywhere over the Internet
                                Email support Help center access
                        </p>
                        <a routerLink="/contact-us" class="orange-text mt-1 d-flex flex-row-reverse">
                            <h5 class="waves-effect p-2" mdbWavesEffect>Contact Us
                                <i class="fa fa-chevron-right"></i>
                            </h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 py-2">
                <div class="card card-cascade wider">
                    <div class="view view-cascade gradient-card-header peach-gradient">
                        <h2 class="card-header-title mb-2">Mobile Apps</h2>
                        <p class="">
                            <i class="fa fa-mobile fa-2x"></i> FROM: ZAR9500.00</p>
                    </div>
                    <div class="card-body card-body-cascade text-center">
                        <p class="card-text mr-2 ml-2">
                            Trends are important get the app in pocket revolution Email support Help center access
                        </p>
                        <a routerLink="/contact-us" class="orange-text mt-1 d-flex flex-row-reverse">
                            <h5 class="waves-effect p-2" mdbWavesEffect>Contact Us
                                <i class="fa fa-chevron-right"></i>
                            </h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-4">
                <div class="col-lg-4 col-md-6 py-2">
                    <div class="card card-cascade wider">
                        <div class="view view-cascade gradient-card-header peach-gradient">
                            <h2 class="card-header-title mb-2">E-Commerce Systems</h2>
                            <p class="">
                                <i class="fa fa-shopping-cart fa-2x"></i> FROM: ZAR12500.00</p>
                        </div>
                        <div class="card-body card-body-cascade text-center">
                            <p class="card-text mr-2 ml-2">
                                SGet an E-Commerce website Today!
                                Email support
                                Help center access
                            </p>
                            <a routerLink="/contact-us" class="orange-text mt-1 d-flex flex-row-reverse">
                                <h5 class="waves-effect p-2" mdbWavesEffect>Contact Us
                                    <i class="fa fa-chevron-right"></i>
                                </h5>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-2">
                    <div class="card card-cascade wider">
                        <div class="view view-cascade gradient-card-header peach-gradient">
                            <h2 class="card-header-title mb-2">Domain Hosting</h2>
                            <p class="">
                                <i class="fa fa-laptop fa-2x"></i> FROM: ZAR900.00</p>
                        </div>
                        <div class="card-body card-body-cascade text-center">
                            <p class="card-text mr-2 ml-2">
                                Set up your www.companyname.com today ! Email support Help center access
                            </p>
                            <a routerLink="/contact-us" class="orange-text mt-1 d-flex flex-row-reverse">
                                <h5 class="waves-effect p-2" mdbWavesEffect>Contact Us
                                    <i class="fa fa-chevron-right"></i>
                                </h5>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-2">
                    <div class="card card-cascade wider">
                        <div class="view view-cascade gradient-card-header peach-gradient">
                            <h2 class="card-header-title mb-2">Logo Designs</h2>
                            <p class="">
                                <i class="fa fa-instagram fa-2x"></i> FROM: ZAR250.00</p>
                        </div>
                        <div class="card-body card-body-cascade text-center">
                            <p class="card-text mr-2 ml-2">
                                    We do logo design, we create to impress!
                                    Email support
                                    Help center access       </p>
                            <a routerLink="/contact-us" class="orange-text mt-1 d-flex flex-row-reverse">
                                <h5 class="waves-effect p-2" mdbWavesEffect>Contact Us
                                    <i class="fa fa-chevron-right"></i>
                                </h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>